.datepicker-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.datepicker-header button {
  color: var(--text-color);
}

.datepicker-day {
  --datepicker-day-border-radius: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--datepicker-day-border-radius);
  background: transparent;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  transition:
    background-color,
    color 0.2s ease;
  padding: 0.5rem;

  &[data-is-today="true"] {
    text-decoration: underline;
    text-underline-offset: 0.33rem;
  }

  &:hover {
    background-color: var(--surface-color);
  }
}

.datepicker-day[aria-selected="true"] {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  border-radius: 0;

  &[data-is-start="true"] {
    border-top-left-radius: var(--datepicker-day-border-radius);
    border-bottom-left-radius: var(--datepicker-day-border-radius);
  }

  &[data-is-end="true"] {
    border-top-right-radius: var(--datepicker-day-border-radius);
    border-bottom-right-radius: var(--datepicker-day-border-radius);
  }
}

.datepicker-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  h3 {
    margin: 0;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--surface-color);
    }
  }
}
