.datepicker-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.datepicker-day {
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
  cursor: pointer;
  transition: background-color, color 0.2s ease;
  padding: .5rem;

  &[data-is-today="true"] {
    text-decoration: underline;
    text-underline-offset: .33rem;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.datepicker-day[aria-selected="true"] {
  border-color: #555;
  background-color: #555;
  color: white;
  &[data-is-start="true"] {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  &[data-is-end="true"] {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}


.datepicker-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  h3 {
    margin: 0;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
