[data-dialog] {
  background-color: white;
  border: none;
  border-radius: .75rem;
  box-shadow: 0 6px 10px #0003;
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 440px;
  overflow-y: auto;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
}

[data-dialog]::backdrop {
  background: #0005;
}

[data-dialog-content] {
  width: 100%;
}

[data-dialog-actions] {
  display: flex; 
  flex-direction: row-reverse;
  gap: 1rem;
}

[data-dialog-close] {
  order: -1;
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100%;
}