.carousel {
    display: inline-flex;
    overflow-x: scroll;
    gap: 4;
    max-width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    border-radius: 1rem;
    width: 100%;
}

.carousel .carousel-item {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    scroll-snap-align: center;
}
