.carousel-item {
  padding: 4rem 1rem;
  width: 40%;
}

.carousel-item:nth-child(even) {
  background-color: gainsboro;
}

.carousel-item:nth-child(odd) {
  background-color: whitesmoke;
}

.carousel-story-wrapper {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: dimgray;
  }

  button:last-of-type {
    right: 0;
  }
}
